# Игнорировать всё
*

# Но разрешить эти типы файлов
!DONATIONS.md
!sys_windows.c
!sys_linux.c
!sys.h
!products.c
!makefile
!README.md
!LICENSE
!NOTICE
!products.txt
!send.txt
!.gitignore
!.github/
# Игнорировать

